<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Smart Green</title>

    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='home.css') }}" rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="GreenTech.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fa-solid fa-leaf"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Smart Green</div>
            </a>

            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="GreenTech.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="irrigation.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Irrigation</span></a>
            </li>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="ventilation.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Ventilation</span></a>
            </li>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="statistics.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Statistics</span></a>
            </li>
        
            <!-- Divider -->
            <hr class="sidebar-divider">


        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <p></p>

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Atual</h1>
                    <a id="refreshSensorData" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"> Refresh
                    </a>
                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Temperatura (Atual)</div>
                                        <div id="temp" class="h5 mb-0 font-weight-bold text-gray-800">N/A</div>
                                    </div>
                                    <div class="col-auto">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Umidade Do Ar (Atual)</div>
                                        <div id="humidity" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                    </div>
                                    <div class="col-auto">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Co2
                                            (Atual)</div>
                                        <div id="co2" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                    </div>
                                    <div class="col-auto">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Umidade
                                            do Solo (Atual)</div>
                                        <div id="soil_humidity" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                    </div>
                                    <div class="col-auto">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800"> Desejavel </h1>
                            <a id="sendFormData" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                Envio </a>
                        </div>
                        <!-- Content Row -->
                        <div class="row">

                            <form class="row" id="sendDataSensorForm">
                                <!-- Earnings (Monthly) Card Example -->
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-left-primary shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div
                                                        class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                        Temperatura (Desejavel)</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><input
                                                            type="text" id="tempDesirable"
                                                            oninput="validarNumero(event)"></div>
                                                </div>
                                                <div class="mt-2">
                                                    <span
                                                        class="text-xs font-weight-bold text-primary text-uppercase mb-1">Valor
                                                        Atual: </span>
                                                    <span id="tempDesirableCurrent"
                                                        class="h6 mb-0 font-weight-bold text-gray-800">N/A</span>
                                                </div>
                                                <div class="col-auto">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Earnings (Monthly) Card Example -->
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-left-success shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div
                                                        class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                        Umidade Do Ar (Desejavel)</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><input
                                                            type="text" id="airHumidityDesirable"
                                                            oninput="validarNumero(event)"></div>
                                                </div>
                                                <div class="mt-2">
                                                    <span
                                                        class="text-xs font-weight-bold text-success text-uppercase mb-1">Valor
                                                        Atual: </span>
                                                    <span id="airHumidityDesirableCurrent"
                                                        class="h6 mb-0 font-weight-bold text-gray-800">N/A</span>
                                                </div>
                                                <div class="col-auto">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- Earnings (Monthly) Card Example -->
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-left-success shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div
                                                        class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                        Co2 (Desejavel)</div>

                                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><input
                                                            type="text" id="co2Desirable"
                                                            oninput="validarNumero(event)"></div>
                                                </div>
                                                <div class="mt-2">
                                                    <span
                                                        class="text-xs font-weight-bold text-success text-uppercase mb-1">Valor
                                                        Atual: </span>
                                                    <span id="co2Current"
                                                        class="h6 mb-0 font-weight-bold text-gray-800">N/A</span>

                                                </div>
                                                <div class="col-auto">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Earnings (Monthly) Card Example -->
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-left-info shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                        Umidade do Solo (Desejavel)</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><input
                                                            type="text" id="soilMoistureDesirable"
                                                            oninput="validarNumero(event)"></div>
                                                </div>
                                                <div class="mt-2">
                                                    <span
                                                        class="text-xs font-weight-bold text-info text-uppercase mb-1">Valor
                                                        Atual: </span>
                                                    <span id="soilMoistureDesirableCurrent"
                                                        class="h6 mb-0 font-weight-bold text-gray-800">N/A</span>
                                                </div>
                                                <div class="col-auto">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of Footer -->
                            </form>
                        </div>
                        <!-- End of Content Wrapper -->

                    </div>
                    <!-- End of Page Wrapper -->


                    <div class="container-fluid">
                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800"> Status </h1>
                        </div>

                        <div class="row">
                            <!-- Earnings (Monthly) Card Example -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    Ventilação</div>
                                                    <p class="mt-3">
                                                        Status: 
                                                        <span id="statusIndicator" style="display: inline-block; width: 10px; height: 10px; border-radius: 50%; margin-right: 5px; background-color: red;"></span>
                                                        <span id="statusIrrigacao">Desligado</span>
                                                    </p>
                                            </div>
                                            <div class="col-auto">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Earnings (Monthly) Card Example -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    Irrigação</div>
                                                    <p class="mt-3">
                                                        Status: 
                                                        <span id="statusIndicatorHome" style="display: inline-block; width: 10px; height: 10px; border-radius: 50%; margin-right: 5px;"></span>
                                                        <span id="statusIrrigacaoHome">Desligado</span>
                                                    </p>
                                            </div>
                                            <div class="col-auto">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <script src="{{ url_for('static', filename='home.js') }}"></script>
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

</html>