<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Smart Green - Controle de Ventilação</title>

    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="{{ url_for('static', filename='ventilation.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="GreenTech.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fa-solid fa-leaf"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Smart Green</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="GreenTech.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="irrigation.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Irrigation</span></a>
            </li>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="ventilation.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Ventilation</span></a>
            </li>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="statistics.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Statistics</span></a>
            </li>
            <hr class="sidebar-divider">
        </ul>

        <div id="content-wrapper" class="d-flex flex-column">
            <div class="container-fluid">
                <p></p>
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Status Ventilação</h1>
                </div>


                <div class="row">
                    <!-- Status da Irrigação -->
                    <div class="col-xl-6 col-md-12 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <h5 class="text-gray-800">Ventilação</h5>
                                <p class="mt-3">
                                    Status:
                                    <span id="statusIndicator"
                                        style="display: inline-block; width: 10px; height: 10px; border-radius: 50%; margin-right: 5px;"></span>
                                    <span id="statusIrrigacao">Desligado</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Controle Manual da Irrigação -->
                    <div class="col-xl-6 col-md-12 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <h5 class="text-gray-800">Controle Manual</h5>
                                <p>Ativar ou desativar a Ventilação manualmente.</p>
                                <button class="btn btn-success" id="btnLigarVentilacao">Ligar</button>
                                <button class="btn btn-danger" id="btnDesligarVentilacao">Desligar</button>
                            </div>
                        </div>
                    </div>


                    <!-- Seção de Irrigação por Necessidade -->
                    <div class="col-xl-6 col-md-12 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <h5 class="text-gray-800">Ventilação por Necessidade</h5>
                                <p>Verificação dos sensores em comparação com os dados desejaveis para identificar a
                                    ligação da ventilação por necessidade.</p>

                                <!-- Exibição do Status da Irrigação -->
                                <div id="statusIrrigacao">
                                    <p class="mt-3 d-flex justify-content-between align-items-center">
                                        <span>
                                            Status:
                                            <span id="statusIndicatorByNeed"
                                                  style="display: inline-block; width: 10px; height: 10px; border-radius: 50%; margin-right: 5px; background-color: red;"></span>
                                            <span id="statusIrrigacaoByNeed">Desligado</span>
                                        </span>
                                
                                        <!-- Botão de Refresh -->
                                        <button id="refreshStatusIrrigacaoNeedBy" class="btn btn-primary">Refresh</button>
                                    </p>
                                </div>

                                <!-- Exibição dos dados dos sensores e desejáveis -->
                                <div id="dadosSensores">
                                    <div class="row">
                                        <div class="col-6">
                                            <p><strong>Temperatura:</strong> <span id="temp"></span></p>
                                            <p><strong>Umidade do Ar:</strong> <span id="humidity"></span></p>
                                            <p><strong>CO2:</strong> <span id="co2"></span></p>
                                            <p><strong>Umidade do Solo:</strong> <span id="soil_humidity"></span></p>
                                        </div>

                                        <div class="col-6">
                                            <p><strong>Temperatura Desejável:</strong> <span
                                                    id="tempDesirableCurrent"></span> °C</p>
                                            <p><strong>Umidade Desejável:</strong> <span
                                                    id="airHumidityDesirableCurrent"></span> %</p>
                                            <p><strong>CO2 Desejável:</strong> <span id="co2Current"></span> ppm</p>
                                            <p><strong>Umidade do Solo Desejável:</strong> <span
                                                    id="soilMoistureDesirableCurrent"></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript para controle -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='ventilation.js') }}"></script>
</body>

</html>